@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Play);
@import url('https://fonts.googleapis.com/css2?family=Hedvig+Letters+Serif:opsz@12..24&display=swap');


/*    Reset CSS  */
* { margin :0; padding: 0; }
ol,ul { list-style: none; }
a { outline:0; text-decoration:none; color:#F0EEE4;}
img { border:0;}
body {
    font-family: 'Hedvig Letters Serif', serif;
    background-color:#F0EEE4; }


/* 배경동영상 */
.vid { width:100%; height:100%; position:static; top:-60px; left:0px; opacity:0.9; }
.vid video { width:100%; min-width:1600px; }

/*로고*/
h1 { position:fixed; top:35px; left:40px; z-index:10;}
h1 img { position:absolute; width:800px; height:auto; top:-40px; left:320px;}
#Free { position:fixed; font-family:arial!important; top:10px;left:650px; color:white; font-size:13px; z-index:1000;}
header { width:1600px; height:220px; position:fixed; top:0px; left:0px; 
            text-align:center!important;
            background:linear-gradient(-45deg,#111, #555); 
            /* box-shadow: inset 3px 3px 3px 3px #555;  */
            opacity: 0.3;
            pointer-events: auto; 
            transition: 0.8s ease; /* 부드러운 전환을 위한 트랜지션 추가 */
}
header:hover {
                background: black; opacity:1;
                /* box-shadow: inset 3px 3px 3px 3px #111;  */
             }
     

/*header navi*/
#gnb {position:absolute;  width:1600px; height:auto;top:190px; right:0px;z-index:10;transition: 0.8s ease!important;}
#gnb>li {position:relative; height:50px; margin-right:30px; float:left;}
#gnb>li>a {display:block; opacity:1!important; margin-left:10px;width:20%; font-size:14px; color:white; box-sizing:border-box; padding-right:60px;
            white-space: nowrap; /*한줄에 다들어가게하기*/ 
        }
#gnb li ul {position:absolute; top:100%; right:0px; left:0px; display:none;}
#gnb li:hover ul{display: inline-block;}
#gnb>li:hover>a { 
                position:relative; width:70%; 
                border-bottom: 3px solid white; color:white; 
                height:23px; transition: 0.7s ease!important;
                }
#gnb em { display:block;  }
ul {position:absolute; top:190px;}

/* 2nd header navi */
#gnb ul { position:absolute; opacity:1;transition: 0.8s ease!important;}
#gnb>li:hover ul { opacity:1; top:30px; }
#gnb ul a { display:block; width:150px; height:30px; 
            background :black; border-bottom:1px solid white; font-size: 12.5px!important; 
            line-height: 30px; text-align:left; color:#fff; 
            box-sizing:border-box; transition:all 0.8s;
          }
#gnb ul a:hover { background:#F0EEE4; color:#333; }


/* 버튼모음 */
#sns { position:fixed; top:10px; right:0px;}
#sns li { float:left; margin-right:20px;}
#sns .fa { font-size:5px; color:white; opacity:0.5; transform:scale(1); transition:all 0.5s;}
#sns .fa:hover { opacity:1; transform:scale(5);}

/* Ignite your Dreams */
#Ignite {position:static; width:100%; height:220px; text-align:center; margin-top:70px;
         font-size: 45px; 
        }
#Dreams {position:absolute; font-size:14px;margin-top:40px; left:250px; font-family:serif;}

#SWAgift {position:absolute; width:500px; left:-250px; top:130px; z-index:-10;}
#giftbutton {position:absolute; 
             font-size:18px; font-family: 'Hedvig Letters Serif', serif;
             background:black; color:white; 
             width:260px; height:50px; top:485px; left:858px;
             transition:all 0.5s; 
            }
#giftbutton:hover{background:white; color:black;}

/* Xmas Tree */
#tree {position:absolute; top:950px; left:-375px;width:100%; height:50%;z-index:-50;}


/* contents 레이아웃 */
#side { position:fixed; width:200px; height:100%; top: 650px; left:0px; 
        background:none; transform:skewX(0deg); transition:all 0.5s; font: bold 14px;
        z-index:2;
      }
#side:hover { position:fixed; background:linear-gradient(-45deg,#111, #555); opacity:0.3;left:0px; top:220px; opacity:1;}
/* #side .con { width:100px; height:100%; position:absolute; left:0px; bottom:0px; background:red; 
                float:left!important;
                box-sizing:border-box; padding:10px; transition:all  1s;
            } */
#side:hover .con { top:-300px;}

/* contents내 썸네일 */
#side .con p { width: 200px; height:100px; position:absolute;}
#side .con p em { display:inline-block; font:10px; color:white; transform:skewX(0deg);}
#side .con p img { width:200px; height:70px; opacity:0.3; transition:all 0.5s;}
#side .con p img:hover { opacity:1;}
#side .con p:nth-child(1) { bottom:550px;}
#side .con p:nth-child(2) { bottom:450px;}
#side .con p:nth-child(3) { bottom:350px;}
#side .con p:nth-child(4) { bottom:250px;}
#side:hover .con p { transform:translateX(0px);}	

#clickbtn {position:fixed; top:640px; left:10px; color:white;font-size:15px; z-index:1;}