*{margin:0; padding:0;} /*사실 부트스트랩에 이미 코딩이 되어있는 부분*/
ul{list-style: none;}
.navbar a{color:gray !important;}
.navbar a:hover{color: #002C5F !important;}
.bg-dark{background-color:white !important;}

article{width:33.33%; height:425px; text-align: center;}
article h1{line-height: 425px; color:#002C5F; font-weight: bold;}
article h1:hover{color: white; background:#002C5F;}


/* mobile **************************************/
@media screen and (max-width:767px) {
    .navbar-toggler{border: 1px solid gray!important;}
    .navbar-toggler-icon{background-color:white !important; color:gray}

    #demo{display:none;}
    #demo2{display:block; height:700px;}
    #demo2 .carousel-inner{display:block; height:700px;}

    .caption{
        position:absolute!important; 
        left:10px!important; 
        bottom:20px!important; 
        z-index:10000!important;
        color:white!important;
    }
    
    article{width:100%; height:425px;}
    article:nth-of-type(1){background-color:red;}
    article:nth-of-type(2){background-color:yellow;}
    article:nth-of-type(3){background-color:green;}
    article:nth-of-type(4){background-color:white;}
    article:nth-of-type(5){background-color:orange;}
    article:nth-of-type(6){background-color:purple;}
    article:nth-of-type(7){background-color:white;}
    article:nth-of-type(8){background-color:gray;}
    article:nth-of-type(9){background-color:yellow;}
    article:nth-of-type(10){background-color:white;}
    article:nth-of-type(11){background-color:blue;}
    
    article:nth-of-type(5)>img:nth-of-type(1){display:none;}
    article:nth-of-type(5)>img:nth-of-type(2){display:block;}
    
    #footer-mobile{display: block;}
    #footer-pc{display: none;}
    
    #footer-mobile .card{background:black; border:none; border-radius: 0;}
    #footer-mobile .card-header h4{color:white;}
    #footer-mobile .card-body{color:#CFC8C2;}
}




/* pc *****************************************/
@media screen and (min-width:768px){
    #collapsibleNavbar{position:absolute; right:20px;}

    #demo{display:block;}
    #demo2{display:none;}




    .caption{
        position:absolute; 
        left:10px; 
        bottom:20px; 
        z-index:10000;
        color:white;
    }

    article{float:left;} 

    article:nth-of-type(1){width:66.66%; background-color:red;}
    article:nth-of-type(2){float:right; height:850px; background-color:yellow;}
    article:nth-of-type(3){background-color:green;}
    article:nth-of-type(4){background-color:white;}
    article:nth-of-type(5){height:850px; background-color:orange;}
    article:nth-of-type(6){background-color:purple;}
    article:nth-of-type(7){background-color:white;}
    article:nth-of-type(8){width:66.66%; background-color:gray;}
    article:nth-of-type(9){background-color:yellow;}
    article:nth-of-type(10){background-color:white;}
    article:nth-of-type(11){background-color:blue;}

    article:nth-of-type(5)>img:nth-of-type(1){display:block;}
    article:nth-of-type(5)>img:nth-of-type(2){display:none;}

    #footer-pc{background-color:black; color:#f6f6f6;}
    #footer-pc h4{padding-bottom: 50px;}
    #footer-pc li{padding-bottom: 15px;}
    #copyright{padding-bottom: 50px;}

    #footer-mobile{display: none;}
    #footer-pc{display: block;}
}
